/* CONTEÚDO DO SITE */
.post{
    margin-top: 25px;
    color: white;
    font-size: 14px;
    padding:0;
    text-align: center;
    text-shadow: 2px 2px 4px black;
    font-weight: bolder;

}

/* LINK POST */
.post a{
    color: rgb(155, 155, 255);
    font-weight: bolder;
    text-decoration: none;
}

/* CATEGORIAS */
.post-categories {
    list-style-type: none;
    text-align: center;
    padding: 0;
}

/* TITULO DO SITE */
h2{
    text-align: center;
    color: white;
    font-weight: bolder;
    text-shadow: 2px 2px 4px black;
}

/* CONTEÚDO DO POST */
.text-cards{
    height: 312px;
    background: rgb(73, 73, 73);
    padding: 20px;
    overflow: hidden;
}

/* POST CARDS */
.cards{
    float: left;
    width: 47%;
    margin-right: 15px; 
    margin-bottom: 15px;
    
}

/* IMAGEM DO POST CARD */
.attachment-medium{
    width: 100%;
    height:auto;
    padding: 0;
}
.wp-post-image:hover{
    width: 105%;
}

/* ICON */
.icon-post{
    font-size: 20px;
    padding: 10px;
}
.leia-mais
{
    font-size:16px ;
}

/* MEDIA QUERY'S */

/* 1119px desktop */
@media(max-width: 1119px){
    .cards{
        float: left;
        margin: 0;
        margin-right: 15px;
        padding: 0;
        
    }
}
/* 992px tablet */
@media(max-width: 992px){
    .cards{
        margin-left: 11px;
    }
    p{
        margin: 5px;
    }
    h2{
        margin: 0;
    }
    .post-categories{
        margin: 0;
    }
}
/* 600px celular */
@media(max-width: 600px){
   .cards{
       width: 100%;
       margin-bottom: 20px;
       padding: 0;
       margin-left: 8px;
   }

}

/* CONTEÚDO DO POST */
.post-card{
    width: 100%;
    height: auto;
    padding: 20px;
    color:black;
    font-size: 16px;

}
/* IMAGEM DO POST */
.post-card .wp-post-image{
    width: 35%;
    height: auto;
    padding-top: 20px;
    display: block;
    float: left;
    margin-right: 20px;
    
}
/* TITULO POST */
.comments-title {
    color: black;
    margin-bottom: 30px;
    margin-left: 50px;
}
ol{
    font-size: 16px;
    color: black;
}
ol a{
    font-size: 12px;
    color: rgb(65, 64, 64);
}
.comment-body{
    padding: 10px;
}
.comment-reply-title{
    color: black;
    margin: 0px 40% 0 40%;
    width: 250px;
    padding-top: 10px;
    align-self: center;
}
#respond{
    background: gray;
    height: auto;
}
.comment-notes{
    font-size: 12px;
    margin: 5px 20% 10px 30%;

}
/* TEXT AREA */
.comment-form-comment{
    color: black;
    float: right;
}
textarea{
    height: 100px;
    width: 300px;
    margin-left: 10px;
    float: right;
    margin-right: 20px;
}
.comment-form-cookies-consent{
    margin-left: 20px;
    margin-bottom: 0;
}
.comment-form label{
    color: black;
    text-shadow: none;
    font-size: 12px;
    margin-left:20px ;
}
#author{
    margin-left: 35px;
    width: 300px;
}
#email{
    margin-left: 31px;
    width: 300px;
}
#url{
    margin-left: 54px;
    width: 300px
}

#submit{
    background: rgb(189, 183, 183);
    margin: 10px 0px 20px 20px ;
}


/* MEDIA QUERY'S */

/* desktop */
@media(max-width: 992px){
    .post-card{
        height: auto;
    }
    .post-card .wp-post-image{
        margin: 0;
        width: 100%;
        padding-top: 0;
    }
}
/* tablet */
@media(max-width: 767px){
    .cards{
        margin-bottom: 20px;
    }
    .sidebar{
        display: none;
    }
}
/* celular */
@media(max-width: 600px){
    .post-card{
       align-items: center;
       margin-left: 20px;
       padding: 10px;
       margin-top: 0;
    }
    .post-card .wp-post-image{
        width: 100%;
        height: auto;
        margin-top: 0;
        margin: 0;
        padding-top: 0;
    }
    
}
/* img{
    width: 100%;
    height: auto;
} */
.avatar{
    width: auto;
    height: auto;
}
