/* single cards */
.cards{
    float: left;
    width: 50%;
    height: 546px ;
    margin-bottom: 20px;
    padding: 0px 40px 0 0px;
}
/* img post
   animations img post */
.hover10 img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    width: 100%;
    height: 234px;
}
.hover10:hover img {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

/* post youtube */
#player{
    width: 20px;
}
.video iframe{
    height: 190px;
    width: 100%;   
}

/* categories */
.post-categories {
    list-style-type: none;
    text-align: center;
    margin-right: 40px; 
}

.post-categories a{
    border: 2px solid #a6523f;
    padding: 2px 5px; 
    color: rgb(194, 191, 191);
    font-size: 12px;
    font-weight: bolder;
    text-decoration: none;

}
.post-categories a:hover{
    color: #8eb4c5;
}

/* content post */
.text-cards{
    height: 312px;
    background: #242021;
    padding: 20px;
    overflow: hidden;
    text-align: center;
    color: white;
}
.text-cards-video{
    height: 349px;
    background: #242021;
    padding: 20px;
    overflow: hidden;
    text-align: center;
    color: white;
}
.text-cards-video h2{
    margin-top: 30px;
    margin-bottom: 20px;
}
.text-cards-video h2:hover{
    color:#a6523f ;
    text-decoration: none;
}
.text-cards-video a:hover{
    text-decoration: none;
}

/* icon post "read more" */
.icon-post{
    font-size: 20px;
    padding: 10px;
}
.leia-mais{
    font-size:16px ;
}

/* link "read more" */
.link-post i{
    margin-right: 5px ;
    color: #a6523f;
}
.link-post a{
    font-size: 12px;
    color: white;
    text-decoration: none;
}
.link-post a:hover{
    color: rgb(142, 180, 197);
    border-bottom: 1px solid #a6523f;
}
.link-post{
    margin-top: 20px;
}
.link-post-video{
    margin-top: 40px;
}
.link-post-video i{
    margin-right: 5px;
    color: #a6523f;
}
.link-post-video a{
    font-size: 14px;
    color: white;
    text-decoration: none;
}
.link-post-video a:hover{
    color: rgb(142, 180, 197);
    border-bottom: 1px solid #a6523f;
}











