/* FOOTER */
.footer{
    background: #162840;
    height: 100px; 
}

/* ICONS DO FOOTER */
.link{
    text-align: center;
    font-size: 20px;
    margin-top: 5px;
}

/* PARAGRAFO FOOTER */
.text-footer p{
    text-align: center;
    margin:0;
    font-size: 14px;
    color: white;
    text-shadow: 2px 2px 4px black;
}

/* MAPA */
.map{
    width: 100%;
}