
/* MENU TOPO */
.menu-top{
    height: 50px;
    background: rgb(73, 63, 63);
    font-size: 16px;
    font-weight: bolder;
    overflow: hidden;
}

/* LINK MENU */
.menu-top a{
    color: white;
    text-decoration: none;
    text-shadow: 2px 2px 4px #000000;
}

/* HOVER MENU */
.menu-top ul li:hover{
    background: rgb(19, 17, 17);
    padding: 10px;
}

/* LIST MENU */
.menu-top ul {    
    display: flex;
}
.menu-top li{
    padding: 15px;
    display: inline;
    padding-top: 10px;
}

/* BARRA MENU */
.social-media-icons {
    background:  rgb(73, 63, 63);
    height: 50px;
}

/* CAPA */
.cover{
    background: black;
    display: flex;
}
.cover img{
    width: 100%;
    height: auto;
    margin: auto;
}

/* ICONS TOPO */
.icons {
    font-size: 20px;
    margin-top: 5px;
 
 }
  i{
     margin-top: 10px;
     color: white;
     text-shadow: 2px 2px 4px #000000;
     padding:0px 10px;
     cursor: pointer;
 }
 i:hover{
     color: rgb(99, 96, 96);
 }
 
 /* BARRA DE PESQUISA */
 .search {
     background: rgb(73, 63, 63);
     height: 50px;
     padding-right:20px ;
 }
 .search input{
     padding: 6px 4px;
     border: none;
     font-size: 14px;
     margin-top: 10px;
     border-radius: 4px;
     width: 150px;
 }

/* MEDIA QUERY'S */
@media screen and (max-width: 1119px) {
    div.menu-top {
      display: none;
    }
    .cover{
        display: none;
    }
}
