/* BARRA LATERAL */
.sidebar{
    background: rgb(73, 63, 63);
    height: auto;
    margin-top: 25px;
    float: right;
    color: white;
    padding: 0;
    
   
}

/* IMAGEM */
img{
    display: flex;
    width: 100%;
    height: auto;
}
.widget_wrapper{
    text-align: center;
    display: block;
}

/* TITULO DO SIDEBAR */
.widget-title{
    margin-top: 20px;
}

/* TEXTO DO SIDEBAR */<br>
.textwidget{
    padding: 10px;
    font-weight: bolder;
    font-size: 16px;
    text-shadow: 2px 2px 4px black;
}

.news{
    background: black;
    height: auto;
    margin-top: 10px;

}

@media(max-width: 600px){
    .sidebar{
        display: none;
    }

}

form{
    padding: 50px;
}
.name{
    margin-bottom: 10px;
}
.email{
    margin-bottom: 10px;
}
form label{
    font-weight: bolder;
    text-shadow: 2px 2px 4px black;
}
button{
    background-color: black;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bolder;
}
form input{
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 8px 9px 13px 1px rgba(0,0,0,0.58);
}
form textarea{
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 8px 9px 13px 1px rgba(0,0,0,0.58);
}