/* BARRA LATERAL */
.sidebar{
    background: #494949;
    height: auto;
    margin-top: 0px;
    float: right;
    color: white;
    padding: 0;
}

.widget_wrapper{
    text-align: center;
    display: block;
}

/* TITULO DO SIDEBAR */
.widget-title{
    margin-top: 20px;
}

/* TEXTO DO SIDEBAR */
.textwidget{
    padding: 10px;
    font-size: 16px;
}

.news{
    background: black;
    height: auto;
    margin-top: 10px;
    box-shadow: 8px 9px 13px 1px rgba(0,0,0,0.58);
}
   
@media(max-width: 600px){
    .sidebar{
        display: none;
    }

}

.formulario-sidebar{
    padding: 50px;
}
.name-sidebar{
    margin-bottom: 10px;
}
.email-sidebar{
    margin-bottom: 10px;
}
.comment-form label{
    font-size: 12px;
    margin: 0 10px 0 20px;

}
button{
    background-color: black;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bolder;
}

