
/* MENU PARA O MOBILE */
.menu-mobile{
    background: #2d3121;
    display: none;
    padding: 0;
}

/* LISTA MENU */
.menu-mobile ul{
    padding: 0;
}
.menu-mobile li{
    display: block;
    padding: 12px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    text-align: center;
}
.menu-mobile ul li:hover{
    background: rgb(19, 17, 17);
}

/* LINK MENU */
.menu-mobile a{
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    text-shadow: 2px 2px 4px #000000;
    font-weight: bolder;
    padding: 30px;

}

/* BOTÃO DO MENU */
label[for="bt_menu"]{
    font-size: 30px;
    color: white;
    background: #2d3121;
    text-shadow: 2px 2px 4px #000000;
    cursor: pointer;
    margin: 0;
    text-align: center;

}
#bt_menu{
    display: none;
}
label[for="bt_menu"]{
    display: none;
}

/* menu mobile */
@media(max-width: 769px){
    #bt_menu:checked ~ .menu-mobile{
        display: block;
        margin-left: 0;
        height: 380px;
    }
    label[for="bt_menu"]{
        display: block;
        width: 100%;
    }
    .menu-mobile{
        transition: all .10s linear;
        height: 100%;
    }
    .menu-mobile ul li{
        float: none;
    }
    .menu-mobile ul{
        overflow: hidden;
    }
}