
/* IMAGEM DO POST */
.imagem-post{
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 20px;
}

/* CONTEÚDO DO SITE */
.post-card h2{
    color: #a6523f;
    margin-bottom: 20px;
}
.post-card{
    color: white;
    background: #162840;
    width: 100%;
    height: auto;
    padding: 0;
    margin-top: 0;
    padding-top: 10px;
} 

.post-card p{
    text-align: center;
    padding: 0px 25px 15px 25px;
    color: white;
    margin-bottom: 0;
}

/* ICONS SOCIAIS */
.icons-post{
    font-size: 18px;
    width: 100%;
    text-align: center;
    padding-bottom: 30px;
    margin-top: 20px;
}
.icons-single i{
   padding: 10px;
   color: white;
}
.icons-single i:hover{
    color: #a6523f;
}

/* LINK LOGIN */
.comment-reply-title{
    color: #8f9bbf;
    padding-top: 30px;
    text-align: center;
}
.logged-in-as{
    text-align: center;
}
.comment-form a{
    color: rgb(128, 102, 53);
    font-size: 16px;
    text-align: center;
}
.comment-form a:hover{
    color: #8f9bbf;
}

.comment-respond{
    background:#162840;
    margin-top: 25px;
}

/* TITULO COMENTARIO */
.comments-title {
    display: none;
}
/* COMENTARIO */
.comment-list{
    display: none;
}
.comment-form-comment label{
    display: none;
}
.comment-form{
    padding: 20px;
}

/* TEXT AREA */
.comment-form textarea{
    height: 200px;
    border: 2px solid #8f9bbf;
    width: 100%;
    align-items: center;
    display: flex;
    background: #162840;
    padding: 10px;
    color: white;
}
/* BUTTON */
#submit{
    border: 2px solid #8f9bbf;
    background: #162840;
    color: white;
    font-family: 'Manrope', sans-serif;
    font-size: 12px;
    padding: 0 10px;
    border-radius: 4px;
    margin-bottom: 20px;
}
#submit:hover{
    color: rgb(128, 102, 53);
}
.form-submit{
    margin: 0;
    text-align: center;
}

/* IMPORTANT */
.comment-notes{
    font-size: 12px;
    text-align: center;
    color: rgb(128, 102, 53);

}
/* LABEL AND INPUT */
.comment-form-author{
    float: left;
    margin-bottom: 25px;
}
.comment-form-email{
    float:left;
    margin-bottom: 25px;
}
.comment-form-url{
    float: left;
    margin-bottom: 25px;
}
.comment-form input{
    width: 150px;
    border: 2px solid #8f9bbf;
    background:#162840;
    color: white;
}
.comment-form-cookies-consent input{
    width: auto;
    margin-left: 35px;
}
.comment-form-cookies-consent {
    text-align: center;
}
#author{
    font-size: 12px;
}
#email{
    font-size: 12px;
}
#url{
    font-size: 12px;
}

.pages a{
    color: #a6523f;
    font-size: 20px;
    margin-right: 15px;
}
.pages a:hover{
    color: #8f9bbf;
}

.pages-post a{
    color: #8f9bbf;
    text-decoration: none;
}
.pages-post a:hover{
    color: #a6523f;
}

/* MEDIA QUERY'S */
/* desktop */
@media(max-width: 992px){
    .post-card{
        height: auto;
    }
    .post-card .wp-post-image{
        margin: 0;
        width: 100%;
        padding-top: 0;
    }
}
/* tablet */
@media(max-width: 767px){
    .cards{
        margin-bottom: 20px;
    }

    .post{
        padding-left:15px;
        padding-right: 0;
    }
}
/* celular */
@media(max-width: 600px){
    
    .sidebar{
        display: none;
    }

    .post{
        padding-right:0px;
        padding-left: 15px;
    }
     
    .post-card{
       align-items: center;
       margin-top: 0;
       width: 100%;
    }
    .sidebar{
        display: none;
    }
    .comment-form-author{
        margin-bottom: 25px;
        float: right;
        margin-right: 25%;
    }
    .comment-form-email{
        margin-bottom: 25px;
        float: right;
        margin-right: 25%;
    }
    .comment-form-url{
        margin-bottom: 25px;
        float: right;
        margin-right: 25%;
    }
    #author{
        font-size: 12px;
    }
    #email{
        font-size: 12px;
    }
    #url{
        font-size: 12px;
    }
    .comment-form label{
        margin:0 20px 0 0;
    }

    .comment-form-cookies-consent input{
        margin: 10px 25px 10px 25px;
        width: 30px;
    }

    .comment-form-cookies-consent {
        text-align: center;
        width: auto;
    }
    
}
