
/* IMAGEM DA LOJA */
.services-item{
    width: 100%;
    margin-top: 20px;
    padding-left: 30px;
}

@media screen and (max-width: 992px){
    .services{
        margin-bottom: 0px;
        margin-top: 20px;
        height: auto;
    }
}

@media screen and (max-width: 600px){
    .services{
        margin-bottom: 0px;
        margin-top: 20px;
    }
}

.conteudo{
    width: 100%;
    padding-left: 10px;
}
.xzoom-gallery.xactive{
    margin: 0px !important;
}