/* BARRA PÓS MENU */
.services{
    background: rgb(73, 63, 63);
    height: 300px;
    margin-top: 20px;
}
/* IMAGENS DA LOJA */
.bolg article{
    display: inline-block;
}

.wp-image-151{
   margin-top: 50px;
}