/* TOPO */
body{
    overflow-x: hidden;
    font-family: 'Manrope', sans-serif !important;
    background: #282a2e !important;
    font-size: 20px !important;
    width: 100%;
}

html{
    margin-top: 0 !important;
}

#main{
    margin-bottom: 20px;
    margin-top: 20px;
}
.middle-area{
    margin-top: 20px;
    margin-bottom: 20px;
    height: auto;
}

/* TITULO */
h1{
    color: black;
    text-align: center;
    width: 100%;
}

h2{
    font-size: 28px ;
    text-align: center;
    color: white; 
}
h2:hover{
    color: #8eb4c5;
}
/* PARAGRAFO */
p{
    color: white;
    padding: 0;
}


/* FORMULÁRIO */
.logo-login{
    margin-left: 42%;
    margin-bottom: 20px;
}
.login{
    align-self: center;
    margin-left: 25%;
}

.notification{
    color: red;
    text-align: center;
    width: 100%;
}

.box form{
    padding: 0;
}
.box{
    width: 100%;
}

.usuario{
    margin-bottom: 10px;
    font-size: 12px;
  
}
.password{
    font-size: 12px;
    margin-bottom: 10px;
}
.box-usuario label{
    font-size: 14px;
    color: black;
}
.box-password label{
    font-size: 14px;
    color: black;
}
.button-login{
    width: 100%;
    height: 40px;
    font-size: 18px;
}

/* PAGINA APOIAR */
.apoiar{
    background: gray;
    margin-top: 25px;
    color: white;
}

.caixa-comentarios{
    float: left;
    margin-top: 100px;
}
.button-comentarios{
    float: right;
    margin-bottom: 10px;
    width: 100%;
}
/* PAGINA PROJETOS */
.projetos{
    background: gray;
    margin-top: 25px;
    color: white;
}

.error-404{
    margin-top: 20%;
}
.error-404 h1{
   color: #fc6000;
}
.error-404 p{
    color: white;
    text-align: center;
}
.error-404 img{
    width: 225px;
    margin: auto;
    display: block;
}
