/* WEECOMMERCE */

.imgStore{
    width: 300px;
    height: auto;
    float: left;
    margin: 0px 0px 20px 20px ;
}
.store{
    float:right;
    padding: 0px;
    text-align: center;
    width: 400px;
    margin-top: 20px;
}
.products{
    margin-left: 10px;
    margin-right: 10px;
    float: none;
}
.products h2{
    margin: 0px 35% 20px 30%;
    float: right;
    text-align: center;
}

.woocommerce ul.products li.product .woocommerce-loop-product__title{
    float: none;
}

.woocommerce ul.products li.product .button{
    background: #a6523f;
    color: white;
    width: 100%;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
    border-top: 5px solid #162840;
    border-radius: 0px;
    margin: 0px;
}
.woocommerce ul.products li.product .woocommerce-loop-product__title{
    color: white;
    font-weight: bolder;
    text-shadow: 2px 2px 4px #000000;
    border-top: 5px solid #162840;
    background: #a6523f;
    padding: 25px 0 25px 0;
}
.woocommerce ul.products li.product a img{
    margin-right: 0px;
}
.description p{
    float: left;
    text-align: center;
}