
.menu-top{
    height: 50px;
}
dl, ol, ul{
    padding: 0px;
    margin-top: 15px;
}
.menu-top li{
    padding: 10px;
    display: inline;
}

/* icons menu */
.social-media-icons {
    background:  #2d3121;
    height: 50px;
}
.icons {
    font-size: 20px;
    margin-top: 5px;
    color: white;
    width: auto;
}
.icons i{
     padding: 10px;
} 
.menu-top li a{
    color: black;
}
/* cover */
.cover{
    background: black;
    display: flex;
}
.cover img{
    width: 100%;
    height: auto;
    margin: auto;
}
#menu-menu{
    margin: 0px;
}
.navbar-nav{
 text-align: center;
}

.navbar-nav a{
    color: white;
}

ul.dropdown-menu li > ul.dropdown-menu{
    left: 100%;
    top: 0;
    margin: 0px;
    padding: 10px 5px !important;
    background: #2d3027;
    text-align: left;
}

ul.dropdown-menu li:hover > ul.dropdown-menu, ul.dropdown-menu li:focus > ul.dropdown-menu{
    display: block
} 
    
.dropdown-menu{
    padding: 0px;
    top: 35px;
    padding: 10px 0px;
    width: max-content;
    background: #282a22;

}
.dropdown-menu a{
    padding: 0px 10px!important;
}
.dropdown-menu li{
    padding: 5px 0px;
}
.dropdown-menu a:hover{
    background: #282a22;
    color: rgb(230, 230, 230);
}
.top-bar{
    background: #2d3027;
}
/*Dropdown Css*/
.dropdown:hover > .dropdown-menu {
    display: block;
  }
 
.collapse.navbar-collapse a{
    padding: 20px 10px ;
}